extends base

block content
    .container-fluid.parallax-window(data-parallax='scroll' data-image-src='/images/grad.png')
        
        .parallax-window(data-parallax='scroll' data-image-src='/images/grad.png') 
        .parallax-window(data-parallax='scroll' data-image-src='/images/grad.png')

    append head
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
      script(src='/javascripts/parallax.js-1.5.0/parallax.min.js')
      script(src='/javascripts/plx.js')
      link(href='/stylesheets/plx.css' rel='stylesheet')
